<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="\stylesheets\bootstrap.min.css" type="text/css" />

    <link rel="stylesheet" href="\stylesheets\styles.css" type="text/css" />
    <link rel="stylesheet" href="\stylesheets\_variables.scss" type="text/css" />
    <link rel="stylesheet" href="\stylesheets\_bootswatch.scss" type="text/css" />


    <title>Link</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/user/dashboard">My Links
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/login">Sign-Out</a>
            </li>
          
          </ul>
        </div>
      </nav>
<% if (locals.error) { %>
    <div style="color: red;" role="alert">
        <%= error %>
    </div>
<% } %>
<% if (locals.msg) { %>
    <div style="color: green;" role="alert">
        <%= msg %>
    </div>
<% } %>
<div>
    <%= name %> <br>
    <%= email %> 
</div>

<h3>Create Link</h3>

<div  class="formCreate">
    <div style="background-color: #fff;  padding-left: 20px;  border: 2px solid #eb6864;">
<form method="POST" action="/createLink">
    <input type="string" placeholder="Short URL" name="shortURL" id="shortURL" class="inputURL">
    <input type="string" placeholder="Original URL" name="originalURL" id="originalURL"  class="inputURL">
    <input type="datetime-local" name="expire", id="expire" placeholder="Expiration Date"  class="inputURL" style="  border-right: none;"> 
    <input type="submit" class="btn  inputURLSubmit" value="Create">
</form>
</div>
</div>

<h3>Links</h3>
<table class="table table-hover" style="overflow-x: auto;">
    <thead>
      <tr>
        <th scope="col">Short Link</th>
        <th scope="col">URL</th>
        <th scope="col">Clicks</th>
        <th scope="col">Date Created</th>
      </tr>
    </thead>
    <tbody>
        <% if (locals.link) { %>
            <% for(var i=0; i < link.length; i++) { %>
      <tr class="table-active">
        <th scope="row"><%= link[i].shortURL %> </th>
        <td><%= link[i].originalURL %></td>
        <td><%= link[i].clicks %> </td>
        <td> <%= moment(link[i].dateCreated).format("DD-MM-YYYY") %></td>
        <td><%= moment(link[i].dateCreated).format("DD MM YYYY hh:mm:ss") %> </td>
        <td> <button onclick="toggleEditForm()" class="btn btn-danger">Edit</button></td>
      </tr>
      <% } %>
      <% } %>
      </tbody>
      </table>
<% if (locals.link) { %>
<% for(var i=0; i < link.length; i++) { %>
    <div>
        <div id="feild">
            <%= link[i].shortURL %>  <br>
            <%= link[i].originalURL %>  <br>
            <%= link[i].clicks %> <br>
            <%= link[i].dateCreated %> <br>
        </div>
        <br>
        <br>
        <div id="edit" style="display: none;">
            <form method="POST" action="/updateLink">
                <input type="string" value="<%= link[i]._id %>" style="display: none;" name="id">
                <input type="string" value="<%= link[i].shortURL %>" name="shortURL" placeholder="Short URL">
                <input type="string" value="<%= link[i].originalURL %>" name="originalURL" placeholder="Original URL">
                <input type="datetime-local" name="expire", id="expire"> 
                <input type="submit" value="Save">
            </form>
        </div>
    </div>

    <br>
    <button onclick="toggleEditForm()">Edit</button>
    <br>
    <br>
    <form method="POST" action="/deleteLink">
        <input type="string" value="<%= link[i]._id %>" style="display: none;" name="linkid">
        <input type="submit" value="Delete">
    </form>
    <hr>
    <% } %>
    <% } %>
    <script>
        isEdit = false;

        function toggleEditForm() {
            if (!isEdit) {
                document.getElementById('feild').style.display = 'none';
                document.getElementById('edit').style.display = 'inherit';

            } else {
                document.getElementById('feild').style.display = 'inherit';
                document.getElementById('edit').style.display = 'none';

            }
        }
    </script>
  </body>
</html>

