<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="\stylesheets\bootstrap.min.css" type="text/css" />

    <link rel="stylesheet" href="\stylesheets\styles.css" type="text/css" />
    <link rel="stylesheet" href="\stylesheets\_variables.scss" type="text/css" />
    <link rel="stylesheet" href="\stylesheets\_bootswatch.scss" type="text/css" />
    <meta name="google-signin-client_id" content="230195840231-t2l5aobst7b00o5frd14it5afu4i07g4.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <title>Link</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Link-It</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/user/dashboard">My Links
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  onclick="signOut();">Sign-Out</a>
            </li>
          
          </ul>
        </div>
      </nav>
      <div class="container" style="min-height: 85vh;">
<% if (locals.error) { %>
    <div class="alert alert-dismissible alert-primary">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><%= error %></strong> 
    </div>
<% } %>
<% if (locals.msg) { %>
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><%= msg %></strong> 
    </div>
<% } %>
<br>
<div>
    <%= name %> <br>
    <%= email %> 
</div>
<br>
<hr>
<h3>Create Link</h3>
<br>
<div  class="formCreate">
    <div style="background-color: #fff; padding-left: 10px;  border: 2px solid #eb6864;">
<form method="POST" action="/createLink">
  <input type="string" value="https://link000.herokuapp.com/" style="text-decoration: none; border: none; width: 250px" disabled>
    <input type="string" placeholder="Short URL" name="shortURL" id="shortURL" class="inputURL">
    <input type="string" placeholder="Original URL" name="originalURL" id="originalURL"  class="inputURL">
    <input type = "text"  onfocus = "(this.type = 'datetime-local')" name="expire", id="expire" placeholder="Expiration Date (Optional)"  class="inputURL" style="  border-right: none;"> 
    <input type="submit" class="btn  inputURLSubmit" value="Create">
</form>

</div>
</div>
<br>
<br>
<div class="card formCreateMobile">
  <div class="card-body">
<form>
  <div class="mb-3" style="display: flex;">
    <input type="string" value="https://link000.herokuapp.com/" disabled class="form-control" style="flex: 1;">
    <input type="string" class="form-control" placeholder="Short URL" name="shortURL" id="shortURL" class="inputURL" style="flex: 1;">
  </div>
  <div class="mb-3" >
    <input type="string" class="form-control"  placeholder="Original URL" name="originalURL" id="originalURL"  class="inputURL">

  </div>
  <div class="mb-3">
    <input type="datetime-local" class="form-control" name="expire", id="expire" placeholder="Expiration Date"  class="inputURL" style="  border-right: none;"> 
  </div>
  <input type="submit" class="btn  btn-primary" value="Submit">

</form>
</div>
</div>
<h3>Links</h3>
<div class="wrapper">
<table class="table table-hover" style="overflow-x: auto;">
    <thead>
      <tr>
        <th scope="col">Short Link</th>
        <th scope="col">URL</th>
        <th scope="col">Clicks</th>
        <th scope="col">Date Created</th>
        <th scope="col">Date Expired</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
        <% if (locals.link) { %>
            <% for(var i=0; i < link.length; i++) { %>
      <tr class="table-active">
        <th scope="row">https://link000.herokuapp.com/<%= link[i].shortURL %> </th>
        <td> <%= link[i].originalURL %></td>
        <td><%= link[i].clicks %> </td>
        <td> <%= moment(link[i].dateCreated).format("DD-MM-YYYY") %></td>
        <% if (link[i].expireAt) { %>
        <td><%= moment(link[i].expireAt).format("DD-MM-YYYY hh:mm A") %> </td>
        <% } %> <%  if(link[i].expireAt == undefined) { %>
          <td>NA </td>
          <% } %>
        <!-- <td> <button onclick="toggleEditForm()" class="btn btn-danger">Edit</button></td> -->
        <td><div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2" >
            <button class="dropdown-item" type="button" data-toggle="modal" data-target="#exampleModal<%=i%>">Edit</button>
            <form method="POST" action="/deleteLink" class="dropdown-item" style="padding: 0px;">
              <input type="string" value="<%= link[i]._id %>" style="display: none;" name="linkid">
              <input type="submit" value="Delete" class="dropdown-item">
          </form>
          </div>
        </div></td>
        <div class="modal fade" id="exampleModal<%=i%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%= link[i].originalURL %> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form  method="POST" action="/updateLink">
                <div class="form-group">
                  <input type="string"class="form-control" id="id" value="<%= link[i]._id %>" style="display: none;" name="id">
                </div>
                <div class="form-group">
                  <label for="shortURL">Short URL</label> <br>
                  <input type="string" value="<%= link[i].shortURL %>" name="shortURL"  id="shortURL" placeholder="Short URL">
                </div>
                <br>
                <div class="form-group">
                  <label for="originalURL">Original URL</label> <br>
                  <input type="string" value="<%= link[i].originalURL %>" name="originalURL" placeholder="Original URL" id="originalURL">
                </div>
                <br>
                <div class="form-group">
                  <label for="expire">Expire At</label> <br>
                  <input type="datetime-local" name="expire", id="expire" value="<%= link[i].expireAt %>"> 
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
              </form>
              </div>
            </div>
          </div>
        </div>
      </tr>
      <% } %>
      <% } %>
      </tbody>
      </table>
    </div>
    <script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    var cookies = document.cookie.split(";");

for (var i = 0; i < cookies.length; i++) {
    var cookie = cookies[i];
    var eqPos = cookie.indexOf("=");
    var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
    document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
}
      gapi.auth2.getAuthInstance().disconnect().then(() => {
        console.log('User signed out.');
      }  );   
      // location.href = window.location.protocol + "//" + window.location.hostname + ':3000' + '/user/login';
      location.href = 'https://link000.herokuapp.com/user/login'


  }

    </script>
    </div>
    <%- include("./partials/footer.ejs") %>

  </body>

</html>

