<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="\stylesheets\bootstrap.min.css" type="text/css" />

    <link rel="stylesheet" href="\stylesheets\styles.css" type="text/css" />
    <link rel="stylesheet" href="\stylesheets\_variables.scss" type="text/css" />
    <link rel="stylesheet" href="\stylesheets\_bootswatch.scss" type="text/css" />
    <meta name="google-signin-client_id" content="230195840231-t2l5aobst7b00o5frd14it5afu4i07g4.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <title>anurl.in</title>
    <link rel = "icon" href = "/assets/Final_logo2.png" type = "image/x-icon"> 
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#"><img src="/assets/Final_logo2.png" style="max-width: 40px; margin-right: 15px;">ANURL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/user/dashboard">My Links
                <span class="sr-only">(current)</span>
              </a>
            </li>
      
            <li class="nav-item ">
              <a class="nav-link" href="/user/about">About
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="/user/login">Sign-Out</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container" style="min-height: 85vh;">
<% if (locals.error) { %>
    <div class="alert alert-dismissible alert-primary">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><%= error %></strong> 
    </div>
<% } %>
<% if (locals.msg) { %>
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><%= msg %></strong> 
    </div>
<% } %>
<% if (locals.guest) { %>
  <div class="alert alert-dismissible alert-primary" id="warning">

    <strong>Link created using guest account can only be used for 48 hours.</strong> 
  </div>
  <% } %>

<br>
<div>
    <%= name %> <br>
    <%= email %> 
</div>
<br>
<hr>
<h3>Create Link</h3>
<br>
<div  class="formCreate">
    <div style="background-color: #fff; padding-left: 10px;  border: 2px solid #eb6864;">
<form method="POST" action="/createLink">
  <input type="string" value="www.anurl.in/" style="text-decoration: none; border: none; width: 150px" disabled>
    <input type="string" placeholder="Short URL" name="shortURL" id="shortURL" class="inputURL">
    <input type="string" placeholder="Original URL" name="originalURL" id="originalURL"  class="inputURL">
    <input type = "text"  onfocus = "(this.type = 'datetime-local')" name="expire", id="expire" placeholder="Expiration Date (Optional)"  class="inputURL" style="  border-right: none;"> 
    <input type = "text"  class="form-control" name="expire", id="expire-guest"  style="  border-right: none; display: none;" class="inputURL" > 

    <input type="submit" class="btn  inputURLSubmit" value="Create">
</form>

</div>
</div>
<div class="card formCreateMobile">
  <div class="card-body">
<form>
  <div class="mb-3" style="display: flex;">
    <input type="string" value="www.anurl.in/" disabled class="form-control" style="flex: 1;">
    <input type="string" class="form-control" placeholder="Short URL" name="shortURL" id="shortURL" class="inputURL" style="flex: 1;">
  </div>
  <div class="mb-3" >
    <input type="string" class="form-control"  placeholder="Original URL" name="originalURL" id="originalURL"  class="inputURL">

  </div>
  <div class="mb-3">
    <input type = "text"  onfocus = "(this.type = 'datetime-local')" class="form-control" name="expire", id="expire-mob" placeholder="Expiration Date (optional) "  class="inputURL" style="  border-right: none;"> 
    <input type = "text"   name="expire", id="expire-guest-mob"  style="  border-right: none; " class="form-control inputURL" > 

  </div>
  <input type="submit" class="btn  btn-primary" value="Submit">

</form>
</div>
</div>
<br>

<h3>Links</h3>
<br>
<div style="display: flex; ">
  <div>
    <div class="input-group">
      <form method="POST" action="/user/dashboard/search" style="display: flex;">
      <input type="search" name="search" class="form-control rounded" placeholder="Search" aria-label="Search"
        aria-describedby="search-addon" id="search" />
      <button type="Submit" class="btn btn-outline-secondary">search</button>
    </form>
    </div>
  </div>
  <div style="flex-grow: 1;">

  </div>
  <div>
    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by
      </a>
    
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/user/dashboard">Newest</a>
        <a class="dropdown-item" href="/user/dashboard/oldest">oldest</a>
        <a class="dropdown-item" href="/user/dashboard/clicks">Clicks</a>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">

<table class="table table-hover" style="overflow-x: auto; white-space:normal !important;">
    <thead>
      <tr>
        <th scope="col">Short Link</th>
        <th scope="col" style="word-wrap:break-word;
        white-space: normal;
        max-width: 150px;" >URL</th>
        <th scope="col">Clicks</th>
        <th scope="col">Date Created</th>
        <th scope="col">Date Expired</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
        <% if (locals.link) { %>
            <% for(var i=0; i < link.length; i++) { %>
      <tr class="table-active">
        <th scope="row" > <span style="cursor:pointer" id="link_<%= i %>">www.anurl.in/<%= link[i].shortURL %>  </span><a  href="https://www.anurl.in/<%= link[i].shortURL %>" target="new"><img src="/assets/link.png" style="max-width: 15px; margin-left: 10px;"></a> <button class="btn btn-secondary btn-sm linkBtn" id="linkbtn_<%= i %>" style="margin-left: 10px;" onclick="copy_password('link_<%= i %>', 'linkbtn_<%= i %>')">Copy Link</button> </th>
        <td style="word-wrap: break-word;
        max-width: 150px;"> <%= link[i].originalURL %></td>
        <td><%= link[i].clicks %> </td>
        <td> <%= moment(link[i].dateCreated).format("DD-MM-YYYY") %></td>
        <% if (link[i].expireAt) { %>
        <td><%= moment(link[i].expireAt).add(5, 'hour').add(30, 'minute').format("DD-MM-YYYY hh:mm A") %> </td>
        <% } %> <%  if(link[i].expireAt == undefined) { %>
          <td>NA </td>
          <% } %>
        <!-- <td> <button onclick="toggleEditForm()" class="btn btn-danger">Edit</button></td> -->
        <td><div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2" >
            <button class="dropdown-item" type="button" data-toggle="modal" data-target="#exampleModal<%=i%>">Edit</button>
            <form method="POST" action="/deleteLink" class="dropdown-item" style="padding: 0px;">
              <input type="string" value="<%= link[i]._id %>" style="display: none;" name="linkid">
              <input type="submit" value="Delete" class="dropdown-item">
          </form>
          </div>
        </div></td>
        <div class="modal fade" id="exampleModal<%=i%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%= link[i].originalURL %> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form  method="POST" action="/updateLink">
                <div class="form-group">
                  <input type="string"class="form-control" id="id" value="<%= link[i]._id %>" style="display: none;" name="id">
                </div>
                <div class="form-group">
                  <label for="shortURL">Short URL</label> <br>
                  <input type="string" value="<%= link[i].shortURL %>" name="shortURL"  id="shortURL" placeholder="Short URL">
                </div>
                <br>
                <div class="form-group">
                  <label for="originalURL">Original URL</label> <br>
                  <input type="string" value="<%= link[i].originalURL %>" name="originalURL" placeholder="Original URL" id="originalURL">
                </div>
                <br>
                <div class="form-group">
                  <label for="expire">Expire At</label> <br>
                  <input type="datetime-local" name="expire", id="expire" value="<%= link[i].expireAt %>"> 
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
              </form>
              </div>
            </div>
          </div>
        </div>
      </tr>
      <% } %>
      <% } %>
      </tbody>
      </table>
    </div>
    <script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    var cookies = document.cookie.split(";");

for (var i = 0; i < cookies.length; i++) {
    var cookie = cookies[i];
    var eqPos = cookie.indexOf("=");
    var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
    document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
}
      gapi.auth2.getAuthInstance().disconnect().then(() => {
        console.log('User signed out.');
      }  );   
      // location.href = window.location.protocol + "//" + window.location.hostname + ':3000' + '/user/login';
      location.href = 'https://www.anurl.in/user/login'


  }

    </script>
    </div>
    <% if (locals.search) { %>
      <script>
        var searchTearm = '<%- JSON.stringify(search) %>';
        console.log(searchTearm);
        document.getElementById('search').value = searchTearm;
      </script>
 <% } %>

 <% if (locals.guest) { %>
  <script>
    var guest = '<%- guest %>';

    if(guest == 'false') {
      console.log(guest);
      document.getElementById('warning').style.display = 'none';
    }
    if(guest == 'true') {
      console.log(guest);

      var d = Date.now() + (2*86400*1000);

      console.log(d);
      document.getElementById('expire').style.display='none';
      document.getElementById('expire').disabled = true;
      document.getElementById('expire-mob').style.display='none';
      document.getElementById('expire-mob').disabled = true;
      document.getElementById('expire-guest').value = new Date(d);
      document.getElementById('expire-guest').readOnly = true;;
      document.getElementById('expire-guest-mob').value = new Date(d);
      document.getElementById('expire-guest-mob').readOnly = true;;

    } else {
      document.getElementById('expire-guest').display = 'none';
      document.getElementById('expire-guest').disabled = true;;
      document.getElementById('expire-guest-mob').display = 'none';
      document.getElementById('expire-guest-mob').disabled = true;;
    }
    function focus() {
      if(guest == 'false') {
      document.getElementById('expire').type = "datetime-local";
      } 
    }
  </script>
<% } %>
<script>
  function copy_password(id, btnId) {
    var copyText = document.getElementById(id);
    var textArea = document.createElement("textarea");
    textArea.value = copyText.textContent;
    document.body.appendChild(textArea);
    textArea.select();
    document.execCommand("Copy");
    textArea.remove();
    var btn = document.getElementsByClassName('linkBtn');
    for(var j = 0; j < btn.length; j++) {
      btn[j].innerText ="Copy Link";
    }
    document.getElementById(btnId).innerText = "Link Copied";

}
</script>

    <%- include("./partials/footer.ejs") %>
   
  </body>

</html>

